doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Otomotif

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Otomotif

      section
        h2 Bab 1 . Pengerian Otomotif 
        

      section
        h3 Otomotif adalah ilmu yang mempelajari tentang alat-alat transportasi darat yang menggunakan mesin, terutama mobil dan sepeda motor. Otomotif mulai berkembang sebagai cabang ilmu seiring dengan diciptakannya mesin mobil.

      section
        h3 Dalam perkembangannya, mobil semakin menjadi alat transportasi yang kompleks yang terdiri dari ribuan komponen yang tergolong dalam puluhan sistem dan subsistem. Oleh karena itu, otomotif pun berkembang menjadi ilmu yang luas dan mencakup semua sistem dan subsistem tersebut.
  
      section
        h3 Untuk menjaga mobil dapat berfungsi dengan baik, dibutuhkan service secara teratur (berkala). Pekerjaan service berkala sebaiknya dilakukan oleh mekanik berpengalaman sesuai standar prosedur yang dilakukan oleh ATPM (Agen Tunggal Pemegang Merek) dan sesuai jenis kendaraan yang dirawat serta kilometer yang telah dicapai.

      section
        h3 Juga diperlukan Spooring yang menggunakan computerized alignment yang sangat akurasi dan didukung oleh operator yang sangat berpengalaman. Tools lain yang digunakan adalah Star Diagnostic dan Multi Scanner yang berfungsi untuk membaca dan melacak aspek kesalahan pada berbagai merk dan jenis kendaraan yang pengoperasiannya didukung oleh operator yang ahli.

      section
        h2 Bab 2. Modifikasi

      section
         h3 Modifikasi adalah cara merubah bentuk sebuah barang dari yang kurang menarik menjadi lebih menarik tanpa menghilangkan fungsi aslinya,serta menampilkan bentuk yang lebih bagus dari aslinya. 

      section 
        h3 Modifikasi sebenarnya banyak tapi kami disini membahas 2 macam modifikasi yaitu:
          ul
             li
             li 1 Modifikasi Mobil
             li 2 Modifikasi Motor

      section
        h2 Modifikasi Mobil
   
      section
        h3 Modifikasi pada mobil adalah Merobah atau menambah accessories Pada Mobil.
         Modifikasi Mempunyai beberapa tujuan antara Lain:
         ul
          li
          li 1 Mempercantik atau Memperkeren Tampilan Mobil
          li 2 Membuat Mobil Menjadi Lebih Elegan
          li 3. Membuat Mobil Menjadi Lebih Menarik

      section
       h3  Modifikasi  Exterior Dibagi Menjadi Beberapa Bagian:
         ul
          li
          li 1. Cat
          li 2. velk
          li 3. Bamper
          li 4. Spion
          li 5. Ban
          li 6. Sayap
          li 7. Lampu
          li 8. Atap

      section
        h3 Memodifikasi Cat bisa dengan 2 cara Yaitu di cat atau bisa juga dengan cara Cutting. Cutting adalah Cara yang paling Mudah dan terbilang cukup Murah selain itu juga cutting tidak memakan waktu yang cukup Lama. Cutting adalah memodifikasi cat dengan cara menempelkan stiker ke body mobil, Cutting juga bisa di buat desain yang kita inginkan Contohnya: Bendera, Animasi, Cartoon, dan masih banyak lagi.

      section
        h3 Memodifikasi velk bisa dengan cara menggati velk setandar ke velk Raccing.

       section
         h3 Memodifikasi Interior dibagi menjadi 3 Macam:
              ul
               li
               li 1. Jok
               li 2. Audio
               li 3. Mesin

      section
       h3  Selain itu Modifikasi yang bagi saya sangat Bagus dan Menarik adalah Modifikasi Mobil Tua, Karena modifikasi mobil Tua harus Memilik beberapa trik Khusus. Dan Bukan hanya itu kebanyakan Modifikasi Mobil Tua itu adalah Mengganti Semua bagian Mobil baik Interior maupun Exterior ke Orisinil nya. Karena Memodifikasi Mobil Tua sangat Sulit apalagi Dengan mengorsinilkan Mobil Tersebut.

      section
       h2 Modifikasi Motor

      section
       h3 Modifikasi pada motor tidak ada bedanya dengan mobil baik dalam tujuan maupun fungsi.
        Modifikasi Motor Mempunyai beberapa tujuan antara Lain:
         ul
          li
          li 1 Mempercantik atau Memperkeren Tampilan Mobil
          li 2 Membuat Mobil Menjadi Lebih Elegan
          li 3. Membuat Mobil Menjadi Lebih Menarik

      section
       h3 Modifikasi  Exterior Dibagi Menjadi Beberapa Bagian:
         ul
          li
          li 1. Cat
          li 2. velk
          li 3. Kap
          li 4. Spion
          li 5. Ban
          li 6. Sayap
          li 7. Lampu
          li 8. Knalpot

      section
        h3 Memodifikasi Cat bisa dengan 2 cara Yaitu di cat atau bisa juga dengan cara Cutting. Cutting adalah Cara yang paling Mudah dan terbilang cukup Murah selain itu juga cutting tidak memakan waktu yang cukup Lama. Cutting adalah memodifikasi cat dengan cara menempelkan stiker ke body motor, Cutting juga bisa di buat desain yang kita inginkan Contohnya: Bendera, Animasi, Cartoon, dan masih banyak lagi. 

      section
        h3 Memodifikasi velk bisa dengan cara menggati velk setandar ke velk Raccing.

       section
         h3 Memodifikasi Interior dibagi menjadi 3 Macam:
              ul
               li
               li 1. Jok
               li 2. Audio
               li 3. mesin


      section
       h2 bab 3. Cara Modifikasi

      section
       h3 Cara Modifikasi yang kami bahas ada 2 macam, yaitu:
        ul
         li
         li 1 Cara Memodifikasi Mobil
         li 2 Cara Memodifikasi Motor

      section
       h3  Selain itu Modifikasi yang bagi saya sangat Bagus dan Menarik adalah Modifikasi Motor Tua, Karena modifikasi motor Tua harus Memilik beberapa trik Khusus. Dan Bukan hanya itu kebanyakan Modifikasi Motor Tua itu adalah Mengganti Hampir Semua bagian Motor baik Interior maupun Exterior Orisinil nya. Karena Memodifikasi Motor Tua termasuk sangat Sulit apalagi harus mengorsinilkan Motor Tersebut.


      section
       h2 Cara Memodifikasi Mobil

      section
       h3 Hal-Hal yang perlu diperhatikan dalam modifikasi mobil adalah sebagai berikut:
        ul
         li
         li 1 Menentukan Konsep
         li 2 Siapkan Budget/Anggaran
         li 3 Daftar Komponen
         li 4 Tempat memodifikasi/Rumah Modifikasi

      section
       h3 Bagian mobil yan gbisa dimodifikasi:
        ul
         li 1 Mesin
         li 2 Pelek
         li 3 Body Kit
         li 4 Audio
         li 5 Interior

      section
       h2 Menentukan Konsep

      section
       h3 Konsep dalam modifikasi mobil sangat diperlukan untuk kita tahu akan menjadi apa bentuk mobil kita nanti. Apakah anda ingin yang elegan atau yang ekstrim, itu harus ditentukan dari awal agar kita tidak bingung ditengah jalan nanti.

      section
       h2 Budget/Anggaran

      section
       h3 Anggaran merupakan aspek yang penting dalam memodifikasi mobil, kita punya konsep yang bagus tapi tidak punya budget yang mencukupi tentu saja itu percuma. ya, percuma kalau tidak ada uang dari mana kita mendapatkan barang-barangnya

      section
       h2 Daftar Komponen

      section
       h3 Daftar komponen yang dimaksud adalah daftar barang yang akan digunakan dalam memodifikasi mobil. Daftar barang ini berfungsi sebagai penggingat barang yang sudah dibeli dan barang yang belum dibeli, daftar ini juga bisa membantu dalam menghitung berapa banyak budget yang sedah dikeluarkan, sehingga kita bisa mengontrol uang kita.

      section
       h2 Tempat Modifikasi/Bengkel Modifikasi

      section
       h3 Jika semua diatas sudah selesai saatnya memilih tempat untuk memodifikasi mobil kita, Syarat bengkel:
        ul
         li
         li Teruji Kualitasnya
         li Terpercaya
         li Harga yang murah (relative)
         li Dll

      section
       h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Thankyou! :)
            a(href='http://twitter.com/markdalgleish')  @Septiono @AgusPratamaS @DavidCassydy

    script(src='build/build.js')