doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
  class = "cover"
  #cover {background-img = "C:\Users\UserPC\Desktop\cars.jpg"}

    article

      section
        h1 Otomotif

      section
        h2 Bab 1 . Pengerian Otomotif 

      section
        h2 Otomotif adalah ilmu yang mempelajari tentang alat-alat transportasi darat yang menggunakan mesin, terutama mobil dan sepeda motor. Otomotif mulai berkembang sebagai cabang ilmu seiring dengan diciptakannya mesin mobil.
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Dalam perkembangannya, mobil semakin menjadi alat transportasi yang kompleks yang terdiri dari ribuan komponen yang tergolong dalam puluhan sistem dan subsistem. Oleh karena itu, otomotif pun berkembang menjadi ilmu yang luas dan mencakup semua sistem dan subsistem tersebut.
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>
  
      section
        h2 Untuk menjaga mobil dapat berfungsi dengan baik, dibutuhkan service secara teratur (berkala). Pekerjaan service berkala sebaiknya dilakukan oleh mekanik berpengalaman sesuai standar prosedur yang dilakukan oleh ATPM (Agen Tunggal Pemegang Merek) dan sesuai jenis kendaraan yang dirawat serta kilometer yang telah dicapai.
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Juga diperlukan Spooring yang menggunakan computerized alignment yang sangat akurasi dan didukung oleh operator yang sangat berpengalaman. Tools lain yang digunakan adalah Star Diagnostic dan Multi Scanner yang berfungsi untuk membaca dan melacak aspek kesalahan pada berbagai merk dan jenis kendaraan yang pengoperasiannya didukung oleh operator yang ahli.
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bab 2. Modifikasi

      section
         h2 Modifikasi adalah cara merubah bentuk sebuah barang dari yang kurang menarik menjadi lebih menarik tanpa menghilangkan fungsi aslinya,serta menampilkan bentuk yang lebih bagus dari aslinya. 

      section 
        h2 Modifikasi sebenarnya banyak tapi kami disini membahas 2 macm modifikasi yaitu:
          ul
             li Modifikasi Mobil
             li Dan Modifikasi Motor

      section
        h2 Modifikasi Mobil
   
      section
        h2 Modifikasi pada mobil adalah Merobah atau menambah accessories Pada Mobil.
         Modifikasi Mempunyai beberapa tujuan antara Lain:
         1. Mempercantik atau Memperkeren Tampilan Mobil
         2. Membuat Mobil Menjadi Lebih Elegan
         3. Membuat Mobil Menjadi Lebih Menarik

      section
       h2 Modifikasi adalah Merobah atau menambah accessories Pada Mobil. Modifikasi Mempunyai beberapa tujuan antara Lain:
1. Mempercantik atau Memperkeren Tampilan Mobil
2. Membuat Mobil Menjadi Lebih Elegan
3. Membuat Mobil Menjadi Lebih Menarik

      section
        h2  Modifikasi  Exterior Dibagi Menjadi Beberapa Bagian:
         1. Cat
         2. velk
         3. Bamper
         4. Spion
         5. Ban
         6. Sayap
         7. Lampu
         8. Atap

      section
        h2   Memodifikasi Cat bisa dengan 2 cara Yaitu di cat atau bisa juga dengan cara Cutting. Cutting adalah Cara yang paling Mudah dan terbilang cukup Murah selain itu juga cutting tidak memakan waktu yang cukup Lama. Cutting adalah memodifikasi cat dengan cara menempelkan stiker ke body mobil, Cutting juga bisa di buat desain yang kita inginkan Contohnya: Bendera, Animasi, Cartoon, dan masih banyak lagi.
   Memodifikasi velk bisa dengan cara menggati velk setandar ke velk Raccing.
   
     section
        h2  Memodifikasi Interior dibagi menjadi 2 Macam:
        1. Jok
        2. Audio

     section
        h2  Selain itu Modifikasi yang bagi saya sangat Bagus dan Menarik adalah Modifikasi Mobil Tua, Karena modifikasi mobil Tua harus Memilik beberapa trik Khusus. Dan Bukan hanya itu kebanyakan Modifikasi Mobil Tua itu adalah Mengganti Semua bagian Mobil baik Interior maupun Exterior ke Orisinil nya. Karena Memodifikasi Mobil Tua sangat Sulit apalagi Dengan mengorsinilkan Mobil Tersebut.

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
      section
        h2 Test
           p tes tambah slide
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@Septiono
    script(src='build/build.js')